<?xml version='0.0.1' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Hello World</name>
  <description>
  </description>
  <author email="support@phonegap.com" href="http://phonegap.com">
  </author>
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />

  <feature name="http://api.phonegap.com/1.0/network"/>
  <preference name="fullscreen" value="true" />

  <platform name="ios">
    <!-- a preference specific to ios only here -->
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" />
    <preference name="DisallowOverscroll" value="true" />
  </platform>
</widget>
