%c-icon {
  display: inline-block;
  background-size: 100% 100%;
  background-position: 50% 50%;
}

.c-icon-cross {
  @extend %c-icon;
  background-image: url('../images/icons/icon-cross.png');
  width: 16px;
  height: 16px;
}

.c-icon-login {
  @extend %c-icon;
  background-image: url('../images/icons/icon-login.png');
  width: 11px;
  height: 11px;
}

.c-icon-pass {
  @extend %c-icon;
  background-image: url('../images/icons/icon-pass.png');
  width: 10px;
  height: 11px;
}

.c-icon-pass-2 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-pass-2.png');
  width: 10px;
  height: 11px;
}

.c-icon-email {
  @extend %c-icon;
  background-image: url('../images/icons/icon-email.png');
  width: 12px;
  height: 9px;
}

.c-icon-question {
  @extend %c-icon;
  background-image: url('../images/icons/icon-question.png');
  width: 20px;
  height: 20px;
}

.c-icon-lock {
  @extend %c-icon;
  background-image: url('../images/icons/icon-lock.png');
  width: 14.5px;
  height: 18.5px;
}

.c-icon-lock-2 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-lock-2.png');
  width: 11px;
  height: 13px;
}

.c-icon-jet {
  @extend %c-icon;
  background-image: url('../images/icons/icon-jet.png');
  width: 22.5px;
  height: 22px;
}

.c-icon-line {
  @extend %c-icon;
  background-image: url('../images/icons/icon-line.png');
  width: 1px;
  height: 19px;
}

.c-icon-prestige {
  @extend %c-icon;
  background-image: url('../images/icons/icon-prestige.png');
  width: 16px;
  height: 11.5px;
}

.c-icon-grey-down {
  @extend %c-icon;
  background-image: url('../images/icons/icon-grey-down.png');
  width: 14px;
  height: 8px;
}

.c-icon-green-down {
  @extend %c-icon;
  background-image: url('../images/icons/icon-green-down.png');
  width: 14px;
  height: 8px;
}

.c-icon-skill {
  @extend %c-icon;
  background-image: url('../images/icons/icon-skill.png');
  width: 18px;
  height: 18px;
}

.c-icon-skill-big {
  @extend %c-icon;
  background-image: url('../images/icons/icon-skill-big.png');
  width: 22px;
  height: 22px;
}

.c-icon-energy {
  @extend %c-icon;
  background-image: url('../images/icons/icon-energy.png');
  width: 18px;
  height: 18px;
}

.c-icon-amount {
  @extend %c-icon;
  background-image: url('../images/icons/icon-amount.png');
  width: 20px;
  height: 20px;
}

.c-yellow-plus-rounded {
  @extend %c-icon;
  background-image: url('../images/icons/icon-yellow-plus-rounded.png');
  width: 29px;
  height: 29px;
}

.c-icon-plus-rounded {
  @extend %c-icon;
  background-image: url('../images/icons/icon-plus-rounded.png');
  width: 24px;
  height: 24px;
}

.c-icon-minus-rounded {
  @extend %c-icon;
  background-image: url('../images/icons/icon-minus-rounded.png');
  width: 24px;
  height: 24px;
}

.c-icon-minus-rounded-2 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-minus-rounded-2.png');
  width: 24px;
  height: 24px;
}

.c-icon-buy {
  @extend %c-icon;
  background-image: url('../images/icons/icon-buy.png');
  width: 16.5px;
  height: 14px;
}

.c-icon-sell {
  @extend %c-icon;
  background-image: url('../images/icons/icon-sell.png');
  width: 14px;
  height: 14px;
}

.c-icon-leave {
  @extend %c-icon;
  background-image: url('../images/icons/icon-leave.png');
  width: 16px;
  height: 16px;
}

.c-icon-menu-create-message {
  @extend %c-icon;
  background-image: url('../images/icons/icon-messages.png');
  width: 20px;
  height: 20px;
}

.c-icon-menu {
  @extend %c-icon;
  background-image: url('../images/icons/icon-menu.png');
  width: 22px;
  height: 17px;
}

.c-icon-menu-2 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-menu-2.png');
  width: 13px;
  height: 22.5px;
}

.c-icon-menu-3 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-menu-3.png');
  width: 9.5px;
  height: 16px;
}

.c-icon-menu-4 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-menu-4.png');
  width: 4px;
  height: 18px;
}

.c-icon-menu-5 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-menu-5.png');
  width: 14px;
  height: 22px;
}

.c-icon-menu-6 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-menu-6.png');
  width: 22px;
  height: 18px;
}

.c-icon-menu-7 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-menu-7.png');
  width: 24px;
  height: 22px;
}

.c-icon-menu-8 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-menu-8.png');
  width: 10px;
  height: 16px;
}

.c-icon-menu-9 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-menu-9.png');
  width: 10px;
  height: 16px;
}

.c-icon-menu-10 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-menu-10.png');
  width: 9.5px;
  height: 14.5px;
}

.c-icon-menu-11 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-menu-11.png');
  width: 19px;
  height: 19px;
}

.c-icon-subscribe {
  @extend %c-icon;
  background-image: url('../images/icons/icon-subscribe.png');
  width: 16px;
  height: 15px;
}

.c-icon-arrow-down {
  @extend %c-icon;
  background-image: url('../images/icons/icon-arrow-down.png');
  width: 24px;
  height: 24px;
}

.c-icon-arrow-down-2 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-arrow-down-2.png');
  width: 23px;
  height: 24px;
}

.c-icon-arrow-down-3 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-arrow-down-3.png');
  width: 13px;
  height: 8px;
}

.c-icon-arrow-right {
  @extend %c-icon;
  background-image: url('../images/icons/icon-arrow-right.png');
  width: 7px;
  height: 12px;
}

.c-icon-arrow-right-2 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-arrow-right-2.png');
  width: 8px;
  height: 13px;
}

.c-icon-plus {
  @extend %c-icon;
  background-image: url('../images/icons/icon-plus.png');
  width: 14px;
  height: 14px;
}

.c-icon-plus-2 {
  @extend %c-icon;
  background-image: url('../images/icons/icon-plus-2.png');
  width: 21px;
  height: 21px;
}

.c-icon-settings {
  @extend %c-icon;
  background-image: url('../images/icons/icon-settings.png');
  width: 18px;
  height: 18px;
}

.c-icon-like {
  @extend %c-icon;
  background-image: url('../images/icons/icon-like.png');
  width: 13.5px;
  height: 14px;
}

.c-icon-vdollar-bordered {
  @extend %c-icon;
  background-image: url('../images/icons/icon-vdollar-bordered.png');
  width: 23px;
  height: 23px;
}

.c-icon-vdollar-bordered-disabled {
  @extend %c-icon;
  background-image: url('../images/icons/icon-vdollar-bordered.png');
  filter: grayscale(1);
  opacity: 0.4;
  width: 23px;
  height: 23px;
}

.c-icon-vgold-bordered {
  @extend %c-icon;
  background-image: url('../images/icons/icon-vgold-bordered.png');
  width: 23px;
  height: 23px;
}

.c-icon-vgold-bordered-disabled {
  @extend %c-icon;
  background-image: url('../images/icons/icon-vgold-bordered.png');
  filter: grayscale(1);
  opacity: 0.4;
  width: 23px;
  height: 23px;
}

.c-icon-vdollar {
  @extend %c-icon;
  background-image: url('../images/icons/icon-vdollar.png');
  width: 18px;
  height: 18px;
}

.c-icon-vdollar-big {
  @extend %c-icon;
  background-image: url('../images/icons/icon-vdollar-big.png');
  width: 22px;
  height: 22px;
}

.c-icon-energy-blue {
  @extend %c-icon;
  background-image: url('../images/icons/icon-energy-blue.png');
  width: 20px;
  height: 20px;
}

.c-icon-energy-blue-big {
  @extend %c-icon;
  background-image: url('../images/icons/icon-energy-blue-big.png');
  width: 22px;
  height: 22px;
}

.c-icon-vgold {
  @extend %c-icon;
  background-image: url('../images/icons/icon-vgold.png');
  width: 18px;
  height: 18px;
}

.c-icon-vgold-big {
  @extend %c-icon;
  background-image: url('../images/icons/icon-vgold-big.png');
  width: 20px;
  height: 20px;
}

.c-icon-prod {
  @extend %c-icon;
  background-image: url('../images/icons/icon-prod.png');
  width: 29px;
  height: 29px;
}

.c-icon-rank {
  @extend %c-icon;
  background-image: url('../images/icons/icon-rank.png');
  height: 14px;
  width: 14px;
}

.c-icon-badge {
  @extend %c-icon;
  background-image: url('../images/icons/icon-badge.png');
  width: 13px;
  height: 18px;
}

.c-icon-menu-search {
  @extend %c-icon;
  background-image: url('../images/icons/icon-menu-search.png');
  width: 20px;
  height: 20px;
}

.c-icon-dot-1 {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.c-icon-dot-2 {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.c-icon-dot-3 {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

.c-icon-inventory {
  background-image: url('../images/menu/icon-inventory.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60% auto;
}

.c-icon-messages {
  background-image: url('../images/profile/messages.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60% auto;
}

.c-icon-add-friend {
  background-image: url('../images/profile/add-friend.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60% auto;
}

// Icons related styles

.bg-vdollar {
  background-color: #71c83d;
  background-image: url('../images/icons/icon-vdollar-bg.png');
  background-repeat: 50% 50%;
  background-size: 29px 29px;
  background-repeat: no-repeat;
  background-position: 50%;
  box-shadow: inset 0 1px 3px rgba(#1a4a1b, .4);
  height: 44px;
  width: 44px;
  border-radius: 5px;
  display: inline-block;
}

// Popup icons

.c-popup-icon-success {
  @extend %c-icon;
  background-image: url('../images/icons/popup-icon-success.png');
  width: 105px;
  height: 105px;
}

.c-popup-icon-lock {
  @extend %c-icon;
  background-image: url('../images/icons/popup-icon-lock.png');
  width: 105px;
  height: 105px;
}

.c-popup-icon-fishing {
  @extend %c-icon;
  background-image: url('../images/icons/popup-icon-fishing.png');
  width: 34px;
  height: 27.5px;
}

.c-popup-icon-training {
  @extend %c-icon;
  background-image: url('../images/icons/popup-icon-training.png');
  width: 29px;
  height: 23px;
}
