.u-h-100 {
  height: 100%;
}

.u-w-100 {
  width: 100%;
}

.u-h-90 {
  height: 90%;
}

.u-w-90 {
  width: 90%;
}

.u-h-80 {
  height: 80%;
}

.u-w-80 {
  width: 80%;
}

.u-h-70 {
  height: 70%;
}

.u-w-70 {
  width: 70%;
}

.u-h-60 {
  height: 60%;
}

.u-w-60 {
  width: 60%;
}

.u-h-50 {
  height: 50%;
}

.u-w-50 {
  width: 50%;
}

.u-h-40 {
  height: 40%;
}

.u-w-40 {
  width: 40%;
}

.u-h-30 {
  height: 30%;
}

.u-w-30 {
  width: 30%;
}

.u-h-20 {
  height: 20%;
}

.u-w-20 {
  width: 20%;
}

.u-h-10 {
  height: 10%;
}

.u-w-10 {
  width: 10%;
}

.u-w-5 {
  width: 5%;
}
